<div id="space" class="grid h-full">
  <%= turbo_frame_tag :clocks do %>
    <div
      class="grid content-center"
      style="grid-template-columns: repeat(<%= @cols %> , minmax(0, 1fr))"
      data-controller="clocks"
      data-clocks-reset-value="<%= reset_interval? %>"
      data-clocks-adjust-interval-value="<%= adjust_interval %>"
      data-clocks-interval-outlet="#interval"
    >
      <%= render @clocks %>
    </div>
  <% end %>
  <div data-controller="interval" id="interval">
    <a href="/" data-interval-target="reloadLink" data-turbo-frame="clocks">reload</a>
  </div>
</div>
