<div id="space" class="grid h-full">
  <%= turbo_frame_tag :clocks do %>
    <div
      class="grid content-center"
      style="grid-template-columns: repeat(<%= @cols %> , minmax(0, 1fr))"
      data-controller="clocks"
      data-clocks-msec-value="<%= @interval %>"
      data-clocks-reset-interval-value="<%= @is_reset_interval %>"
      data-clocks-interval-outlet="#interval"
    >
      <div class="items">
          <div class="clock">
            <div class="rim">
              <span class="big-hand" style="rotate: <%= @big_hand_deg %>"></span>
              <span class="small-hand" style="rotate: <%= @small_hand_deg %>"></span>
            </div>
          </div>
      </div>
    </div>
  <% end %>
  <div data-controller="interval" id="interval">
    <a href="/" data-interval-target="reloadLink" data-turbo-frame="clocks">reload</a>
  </div>
</div>
