<div id="space" class="grid h-full">
  <%= turbo_frame_tag :clocks, class:'content-center col-start-1 row-start-1' do %>
    <div
      class="grid"
      style="grid-template-columns: repeat(<%= @cols %> , minmax(0, 1fr))"
      data-controller="clocks"
      data-clocks-reset-value="<%= reset_interval? %>"
      data-clocks-adjust-interval-value="<%= adjust_interval %>"
      data-clocks-interval-outlet="#interval"
    >
      <%= render partial: "clock", collection: @clocks, as: :clock %>
    </div>
  <% end %>
  <div data-controller="interval" id="interval" class="col-start-1 row-start-1">
    <a href="/" data-interval-target="reloadLink" data-turbo-frame="clocks"></a>
  </div>
</div>
